.articles {
    &__article {
        margin: 10px auto;
        width: 80vw;
        overflow: hidden;
    }

    &__article:nth-of-type(1) {
        margin-top: 70px;
    }

    &__title {
        font-size: 32px;
    }

    &__date {
        font-size: 16px;
        padding: 5px 0;
    }

    &__image {
        width: 100%;
    }

    &__desc {
        padding: 10px 0;
    }

    &__image img {
        width: 100%;
    }
}