.menu {
    background-color: white;
    // height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;

    &__logo {
        margin: 0;
    }

    &__logo img {
        margin: 15px;
        height: 40px;
    }

    &__container1 {
        width: 100%;
        display: flex;
    }

    &__container2 {
        display: none;
        transition: 0.5s;
    }

    &__container2--active {
        display: block;
    }

    &__hamburger_icon {
        width: 90px;
        height: 30px;
        position: relative;
        margin: 20px 0 auto auto;
        display: flex;
        justify-content: right;

        &:hover {
            cursor: pointer;
        }
    }

    &__title {
        width: 50px;
        margin: 0;
        line-height: 30px;
        height: 30px;
    }

    &__title p {
        padding: 0 10px 0 10px;
        text-transform: uppercase;
    }

    &__bars {
        width: 30px;
        margin-left: 15px;
        transition: 0.5s;
    }

    &__hamburger_bar {
        position: absolute;
        width: 30px;
        height: 6px;
        background-color: black;
        bottom: calc(50% - 3px)
    }

    &__hamburger_bar_top {
        top: 0;
    }

    &__hamburger_bar_bottom {
        bottom: 0;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 100vw;
        padding: 5px;
    }

    &__list_item {
        text-transform: uppercase;
        text-align: left;
        width: 100%;
        padding: 5px;
    }

    &__list_item a {
        text-decoration: none;
        color: black;
        padding: 5px;

        &:hover {
            border-bottom: 1px solid black;
        }
    }

}